<footer> 
        <div class="container">
		<div class="row"> 
		<div class="col-md-6 text-left">
			<span class="copyright">Copyright &copy; Gustavo Marques 2016</span>
		</div>
		<div class="col-md-6 text-center">
			<ul class="list-inline social-buttons">

				<li><a href="mailto:gmarques@princeton.edu"><i class="fa fa-envelope"></i></a>
				</li>
				<li>
				<a href="https://www.linkedin.com/in/gustavo-mastrorocco-marques-9b770346"><i class="fa fa-linkedin"></i></a>
				</li>
				<li><a href="https://scholar.google.com/citations?user=pyrijgUAAAAJ&hl=en"><i class="ai ai-google-scholar-square"></i></a>
				</li> 
				<li><a href="http://github.com/gustavo-marques"><i class="fa fa-github"></i></a>
				</li>

				<li><a href="http://bitbucket.org/gustavo-marques"><i class="fa fa-bitbucket"></i></a></li>
				
				<li><a href="https://www.youtube.com/channel/UCRUHGdzRCCL746sNBpc9oOA/videos"><i class="fa fa-youtube"></i></a></li>

			</ul>
		</div>
	</div>
       </div>
        </footer> 


<!--
<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<p><small>&copy; Gustavo Marques 2016</small></p>
		</div>
		<div class="col-sm-4">
			<p class="pull-right"><small><a href="mailto:gmarques@princeton.edu" title="email">gmarques@princeton.edu</a></small></p>
		</div>
	</div>
</div> <!-- /footer -->
