<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header page-scroll">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand page-scroll" href="/">Gustavo Marques</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li class="hidden">
			<a href="/"></a>
			</li>
			<li>
			<a class="page-scroll" href="/research">Research</a>
			</li>
			<li>
			<a class="page-scroll" href="/papers">Papers</a>
                        </li>

			<li>
			<a class="page-scroll" href="/cv">CV</a>
			</li>
			<li>
			<a class="page-scroll" href="https://github.com/gustavo-marques">Code</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>


<!--
<div class="header">
	<ul class="nav nav-pills pull-right">

		<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>	
		<li><a href="https://github.com/gustavo-marques" title="Code">Code</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Gustavo Marques</a></h3>
</div>  -->
